body {
    background-image: url("https://cdn.donmai.us/original/47/41/__kirby_kirby_drawn_by_suyasuyabi__47419aa4e1c2495ba97f71d6fdbe046a.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: cover;
    background-color: white;
    color: darkgrey;
}